<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Product Detail</title>
</head>
<body>
<h2>Test Product - View</h2>

<div th:object="*{product}" th:if="${product != null}">
    Name: <span th:text="*{name}"></span></br>
    Price: <span th:text="*{price}"></span></br>
    Category: <span th:text="*{category}"></span></br>
    Description: <span th:text="*{description}"></span></br>
</div>
<div th:unless="${product != null}">
    Cannot fetch Product with ID = <span th:text="${#request.getParameter('productId')}"></span>
</div>
</body>
</html>